.card{
    border-radius: 10% / 90%;
    overflow: hidden;
}
.card-header{
    border-radius: 10% / 90%;
}
.bg-color{
    background-color: rgb(189, 222, 238) !important;
}
.butn{
    background-color: rgb(189, 222, 238) !important;
    color: rgb(0, 94, 113) ;
}
.text-center{
    color:rgb(0, 94, 113) !important;
}
.text-color{
    color: rgb(0, 94, 113) !important;
}