<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card class="shadow mb-2">
                    <div class="text-center m-3">
                        <mat-card-title class="text-color">Update Quiz</mat-card-title>
                        <mat-card-subtitle>Enter the details of Quiz</mat-card-subtitle>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-card class="shadow">
                    {{quiz | json }}
                    <mat-card-content>
                        <form class="p-4" (ngSubmit)="updateQuiz()">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- QUIZ TITLE -->
                                    <mat-form-field class="max-width" appearance="fill">
                                        <mat-label>Quiz Title</mat-label>
                                        <input [(ngModel)]="quiz.qTitle" name="title" type="text" matInput
                                            placeholder="Enter Quiz Title" required>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <!-- Quiz DESCRIPTION -->
                                    <mat-form-field class="max-width" appearance="fill">
                                        <mat-label>Quiz Description</mat-label>
                                        <textarea [(ngModel)]="quiz.qDescription" name="description" matInput
                                            placeholder="Enter Quiz Description" rows="5"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <!-- QUIZ MAX MARKS -->
                                    <mat-form-field class="max-width" appearance="fill">
                                        <mat-label>Quiz Max Marks</mat-label>
                                        <input [(ngModel)]="quiz.maxMarks" name="maxMarks" type="number" matInput
                                            placeholder="Enter Quiz Max Marks" required>
                                    </mat-form-field>
                                </div>


                                <div class="col-md-6">
                                    <!-- QUIZ NUMBER OF QUESTIONS -->
                                    <mat-form-field class="max-width" appearance="fill">
                                        <mat-label>Quiz Number Of Questions</mat-label>
                                        <input [(ngModel)]="quiz.numberOfQuestions" name="numberOfQuestions"
                                            type="number" matInput placeholder="Enter Lecture Number" required>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-12">
                                    <!-- COURSE -->
                                    <mat-form-field class="max-width" appearance="fill">
                                        <mat-label>Select Course</mat-label>
                                        <mat-select [(ngModel)]="course.cId" name="course" required>
                                            <mat-option [value]="" (click)="loadLectures('')">--Select
                                                Course--</mat-option>
                                            <mat-option *ngFor="let c of courses" [value]="c.cId"
                                                (click)="loadLectures(c.cId)">{{c.cTitle}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-12">
                                    <!-- LECTURE -->
                                    <mat-form-field class="max-width" appearance="fill">
                                        <mat-label>Select Lecture</mat-label>
                                        <mat-select [(ngModel)]="quiz.lecture.lId" name="lecture" required>
                                            <mat-option [value]="">--Select Lecture--</mat-option>
                                            <mat-option *ngFor="let l of lectures"
                                                [value]="l.lId">{{l.lTitle}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="text-center mt20">
                                <button class="m-2" mat-raised-button color="accent">Update Quiz</button>
                                <button class="m-2" mat-raised-button type="reset" color="primary">Clear</button>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>