<!-- Remove the container if you want to extend the Footer to full width. -->
<div>
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #ff4081">
    <div class="container">
      <hr class="my-5" />
      <div class="row">
        <!-- About Us Card -->
        <div class="col-lg-4 mb-4">
          <div
            class="card text-white"
            style="background-color: rgba(0, 0, 0, 0.2)"
          >
            <div class="card-body">
              <h2 class="card-title">About Us</h2>
              <p class="card-text">
                Transforming education and job search with an integrated
                platform. <a routerLink="/about">Learn More</a>
              </p>
            </div>
          </div>
        </div>
        <!-- Contact Card -->
        <div class="col-lg-4 mb-4">
          <div
            class="card text-white"
            style="background-color: rgba(0, 0, 0, 0.2)"
          >
            <div class="card-body">
              <h2 class="card-title">Contact Us</h2>
              <p class="card-text">
                For inquiries, please email us at
                <a href="mailto:info@codeventure.com">info@codeventure.com</a>.
              </p>
            </div>
          </div>
        </div>
        <!-- Social Media Links Card -->
        <div class="col-lg-4 mb-4">
          <div
            class="card text-white"
            style="background-color: rgba(0, 0, 0, 0.2)"
          >
            <div class="card-body">
              <h2 class="card-title">Social Media Links</h2>
              <p class="card-text">
                <a href="#" class="text-white me-2"
                  ><img class="image" src="assets/img/fb.png"
                /></a>
                <a href="#" class="text-white me-2"
                  ><img class="image" src="assets/img/insta.png"
                /></a>
                <a href="#" class="text-white me-2"
                  ><img class="image" src="assets/img/twitter.png"
                /></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">CodeVenture.com</a>
    </div>
  </footer>
</div>

<style>
  .card {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px;
  }
  .card .card-body p a {
    color: white;
  }
</style>
