<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card class="shadow mb-2">
                    <div class="text-center m-3">
                        <mat-card-title *ngIf="cId" class="text-color">Lectures of {{cTitle}} Course</mat-card-title>
                        <mat-card-title *ngIf="!cId" class="text-color">All Lectures</mat-card-title>
                        <mat-card-subtitle>List of Lecture</mat-card-subtitle>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="row" *ngIf="lectures.length > 0">
            <div class="col-md-12">
                <mat-card class="shadow mb-3" *ngFor="let l of lectures">
                    <mat-card-header>
                        <div mat-card-avatar class="img"></div>
                        <mat-card-title class="text-color">{{l.lNo}}:- {{l.lTitle}}</mat-card-title>
                        <mat-card-subtitle>{{l.course.cTitle}} <span class="m-2">({{l.course.field}})</span></mat-card-subtitle>
                    </mat-card-header>
                    <div class="px-2 pb-2">
                        <button [routerLink]="'/mentor/quiz/'+l.lId" class="m-2" mat-stroked-button color="warn">Quiz</button>
                        <button [routerLink]="'/mentor/assignment/'+l.lId" class="m-2" mat-stroked-button
                            color="warn">Assignment</button>
                        <button [routerLink]="'/mentor/labtask/'+l.lId" class="m-2" mat-stroked-button color="warn">Lab
                            Task</button>
                        <button [routerLink]="'/mentor/lecture/'+l.lId" class="m-2" mat-raised-button
                            color="primary">View</button>
                        <button [routerLink]="'/mentor/updatelecture/'+l.lId" class="m-2" mat-raised-button
                            color="accent">Update</button>
                        <button (click)="deleteLecture(l.lId)" class="m-2" mat-raised-button color="warn">Delete</button>
                        </div>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" *ngIf="lectures.length == 0">
                <mat-card class="d-flex justify-content-center align-items-center">
                    <img src="assets/img/stockNotFound.png" class="img-fluid" alt="Not Found">
                    <h1>Lectures for <span class="text-color">{{cTitle}}</span> Not Found</h1>
                    <button class="m-4" routerLink="/mentor/addlecture" mat-raised-button color="accent">Click To Add Lecture</button>
                </mat-card>
            </div>
        </div>
    </div>
</div>