<div class="bootstrap-wrapper">
  <section class="hero">
    <video id="video" autoplay loop muted playsinline>
      <source src="/assets/img/0110.mp4" type="video/mp4" />
    </video>
    <div class="overlay"></div>
    <div class="container hero-text">
      <h1 class="display-5">Welcome to CodeVenture Learning + Job Portal</h1>
      <h2 class="slogan">"A Journey From Learning To Earning!"</h2>
      <p class="lead">
        Unlock your potential with our innovative learning platform and embark
        on a journey of business success.
      </p>
      <button
        class="mt-5"
        routerLink="/register"
        mat-fab
        extended
        color="accent"
      >
        Get Start
      </button>
      <hr />
      <h2>OR</h2>
      <button mat-raised-button color="accent" routerLink="/login">
        LOGIN HERE
      </button>
    </div>
  </section>
</div>
