.image2 {
    max-width: 250px;
    max-height: 250px;
    border: 2px solid rgb(255, 0, 123);
    border-radius: 50%;
}


.imgDiv {
    width: 150px;
    height: 150px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
}

.img {
    width: 150px;
}
.text-color{
    color:rgb(0, 94, 113) !important;
}
.col1 {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.col2 {
    background-color:rgb(189, 222, 238);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-name {
    margin-left: 1rem;
    /* or whatever margin you require */
}

.col-md-7 .bio {
    text-align: justify;
    text-justify: distribute-all-lines;
}