<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="shadow mb-2">
          <div class="text-center m-3">
            <mat-card-title class="text-color">Companies's List</mat-card-title>
          </div>
        </mat-card>
      </div>
      <div class="col-md-12">
        <mat-card class="shadow">
          <mat-card-content>
              <div class="container1 p-4">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Company Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Bio</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let company of companies">
                        <td>{{ company.id }}</td>
                        <td>{{ company.username }}</td>
                        <td>{{ company.firstName }}</td>
                        <td>{{ company.phone }}</td>
                        <td>{{ company.email }}</td>
                        <td>{{ company.address }}</td>
                        <td class="bio">{{ company.bio }}</td>
                        <td class="action-buttons">
                          <button
                          [routerLink]="'/profile/updatecompany/' + company.id"
                          class="m-2 btn btn-outline-primary">Update</button>
                          <button
                            (click)="deleteCompany(company.id)"
                            class="m-2 btn btn-outline-danger delete-button">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
