<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card class="shadow mb-2">
                    <div class="text-center m-3">
                        <mat-card-title class="text-color">{{lecture.lNo}}:- {{lecture.lTitle}}</mat-card-title>
                        <mat-card-subtitle>
                            <b>Course:</b> {{lecture.course.cTitle}}
                            ||
                            <b>Field:</b> {{lecture.course.field}}
                        </mat-card-subtitle>
                    </div>
                </mat-card>
                <mat-card class="shadow p-4">
                    <mat-card-content>
                        <div class="videoContainer">
                            <iframe class="WnH" title="YouTube video player" [src]="video"></iframe>
                        </div>
                        <!-- width="70%" height="394" -->
                        <hr>
                        <div [innerHTML]="lecture.lDescription">
                        </div>
                    </mat-card-content>
                </mat-card>

                <div class="text-center">
                    <button mat-raised-button [routerLink]="'/user/quiz/instructions/'+lecture.lId" color="accent"
                        class="m-2">Start Quiz</button>
                    <button mat-raised-button [routerLink]="'/user/assignment/'+lecture.lId" color="accent"
                        class="m-2">Start Assignemnt</button>
                    <button mat-raised-button [routerLink]="'/user/labtask/'+lecture.lId" color="accent"
                        class="m-2">Start LabTask</button>
                        <div>
                            <button *ngIf="lecture.lNo-1 != 0" (click)="loadPrevious(lecture.lNo-1)" mat-raised-button color="primary"
                            class="m-3">
                            <mat-icon>arrow_back_ios</mat-icon>PREVIOUS
                        </button>
                        
                            <button *ngIf="lecture.lNo+1 <= lengthLecture" (click)="loadNext(lecture.lNo+1)" mat-raised-button color="primary"
                                class="m-3">
                                <mat-icon>arrow_forward_ios</mat-icon>NEXT
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<mat-card>

    <div class="container">
        <div class="row p-5">
            <h1>{{lecture.lNo}} : {{lecture.lTitle}}</h1>
        </div>
        <div class="row text-center">
            <div class="videoContainer">
                <iframe class="WnH"  title="YouTube video player" [src]="sanitizeVideoUrl(lecture.lVideo)"></iframe>
                </div>
        </div>
        <div class="row  p-5">
            <p>{{lecture.lDescription}}</p>
        </div>
    </div>
    <div class="container">
        <div class="row p-5">

            <a class="m-2" [href]="'/user/showlecture/' + (lNo - 1) + '/' + cId" mat-raised-button>
                < Previous</a>

                    <button class="m-2" mat-raised-button color="accent">Quiz</button>

                    <button class="m-2" mat-raised-button color="accent">Lab Task</button>


                    <button class="m-2" [routerLink]="'/user/assignment/'+aId" mat-raised-button color="accent">Assignment</button>

                    <a class="m-2" [href]="'/user/showlecture/' + (lNo + 1) + '/' + cId"  mat-raised-button>
                        Next ></a>
        </div>
    </div>
</mat-card> -->