<!--<mat-card style="background-color: rgb(249, 204, 237)"
  ><br /><br />
  <div class="about">
    <h1>about us</h1>
  </div>
  <br />
</mat-card>
<mat-card
  style="
    background-color: rgb(249, 204, 237);
    display: flex;
    flex-direction: row; /* Set the direction to row */
    justify-content: left;
    align-items: left;
    margin: 0px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
  "
>
  <img
    src="assets/img/about.png"
    style="width: 40%; height: 100%; padding: 30px"
  />
  <div style="padding: 16px; margin-top: 80px">
    <h1 style="color: rgb(244, 5, 128); font-weight: bold; font-size: 40px">
      <span style="font-size: 60px; font-weight: bold; color: rgb(244, 5, 128)"
        >L</span
      >earning,
    </h1>
    <br />
    <h1 style="color: rgb(244, 5, 128); font-weight: bold; font-size: 40px">
      <span style="font-size: 60px; font-weight: bold; color: rgb(244, 5, 128)"
        >C</span
      >onnecting,
    </h1>
    <br />
    <h1 style="color: rgb(244, 5, 128); font-weight: bold; font-size: 40px">
      <span style="font-size: 60px; font-weight: bold; color: rgb(244, 5, 128)"
        >E</span
      >mpowering!
    </h1>
  </div>
</mat-card>-->

<mat-card class="card">
  <div class="about">
    <div class="details">
      <h1>About <span style="color: rgb(227, 197, 4)">CodeVenture!</span></h1>
      <p>
        "Embark on a transformative learning journey with Codeventure! As an
        integrated learning platform and job portal, Codeventure redefines the
        way students engage with education and employment. Explore a rich
        variety of courses, assignments, and quizzes curated to enhance your
        skills. Mentors can tailor content in diverse fields, ensuring a
        personalized learning experience. Companies can seamlessly connect with
        bright talents through job postings and candidate evaluations. Powered
        by Angular, Spring Boot, and MySQL, Codeventure prioritizes security and
        user experience. Ready to start your coding adventure? Begin your
        journey with Codeventure today <a routerLink="/register">Join Us</a>"
      </p>

      <div class="icons">
        <a href="#" class="text-white me-2"
          ><img class="image" src="assets/img/fb.png"
        /></a>
        <a href="#" class="text-white me-2"
          ><img class="image" src="assets/img/insta.png"
        /></a>
        <a href="#" class="text-white me-2"
          ><img class="image" src="assets/img/twitter.png"
        /></a>
      </div>
      <h3>infoCodventure@gmail.com</h3>
    </div>

    <div class="aboutimg">
      <img src="assets/img/aboutgif.gif" />
    </div>
  </div>
</mat-card>
