<mat-card class="shadow mb-2">
  <mat-card-header>
    <div class="logo">
      <img src="/assets/img/building.gif" alt="Company Logo" />
      <span>Company Panel</span>
    </div>
  </mat-card-header>
  <mat-action-list>
    <button mat-list-item routerLink="/company/">
      <mat-icon matListItemIcon>home</mat-icon>
      <span>Home</span>
    </button>

    <button mat-list-item routerLink="/company/profile">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <span>Profile</span>
    </button>

    <button mat-list-item routerLink="/company/addjob">
      <mat-icon matListItemIcon>work</mat-icon>
      <span>Add Jobs</span>
    </button>

    <button mat-list-item routerLink="/company/viewjobs">
      <mat-icon matListItemIcon>assignment_turned_in</mat-icon>
      <span>Show Jobs</span>
    </button>

    <button mat-list-item routerLink="/company/applications">
      <mat-icon matListItemIcon>shield_person</mat-icon>
      <span>View Applications</span>
    </button>

    <button mat-list-item (click)="logout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-action-list>
</mat-card>
