/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
    align-items: center !important;
}

.max-width {
    width: 100%;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 50px;
}

.ml10 {
    margin-left: 10px;
}

.mb30 {
    margin-bottom: 30px;
}

.text-color {
    color: #ff4081 !important;
}

.text-white {
    color: white;
}

.bg-color {
    background-color: #ff4081 !important;
    color: white !important;
}

.border {
    border: 2px solid;
}

.p3 {
    padding: 30px !important;
}

.shadow {
    box-shadow: rgba(17, 17, 26, 0.059) 0px 4px 16px, rgba(41, 41, 59, 0.055) 0px 8px 24px, rgba(17, 17, 26, 0.06) 0px 16px 56px !important;

}

.shadow1 {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.justifyPara {
    text-align: justify;
    text-justify: distribute-all-lines;
}